* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-primary;
  background-color: $bg-light;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacing-md;
  font-weight: 600;
}

p {
  margin-bottom: $spacing-md;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color $transition-speed;

  &:hover {
    color: $primary-hover;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
}

input,
select,
textarea {
  font-family: inherit;
}

